<h3>reset password</h3><br/>
<%= flash[:notice] %>
<%= form_with url: "/password/reset_password", method: :post do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
        <%= pluralize(@user.errors.count, "error") %>

      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
    <div class="field">
    <%= f.label :new_password %> <br/>
    <%= f.password_field :password %>
    </div><br/>

    <div class="field">
    <%= f.label :conform_new_password %> <br/>
    <%= f.password_field :password_confirmation%>
    </div><br/>

    <div class="action">
    <%= f.submit "Generate new password"%>
    </div><br/>
    you want to go dashboard? <%= link_to "dashboard", account_dashboard_path %><br/>
<% end %>
